*{
    padding: 0;
    margin: 0;
  }



  body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to right,
      rgb(4, 154, 97) 0%,
      rgb(0, 46, 212) 50%,
      rgb(0, 255, 255) 50%,
      rgb(0, 255, 255) 100%
    );
  }
















